/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10px;
  background: #000;
  color: #000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /*animation-name: bg-appear;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;*/
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*display: flex;
  flex-wrap: wrap;*/
  background: #FFD97D;
  background-image: radial-gradient(#e2bf6a 15%, #FFD97D 15%);
  background-size: 20px 20px;
  background-repeat: repeat;
  animation-name: bg-move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@keyframes bg-move {
  from {background-position:0 0;}
	to {background-position: 500px 500px;}
}
@keyframes bg-appear {
  from {filter: opacity(0); }
	to {filter: opacity(1);}
}

/*section{
  border: 1px solid black;
}*/

.header{
  height: 50%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 60%;
  position: relative;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.navbar .link{
  color: inherit;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.navbar .link:hover{
  background: #000;
  color: #FFD97D;
  border-radius: 3px;
}

.logo{
  background: url("../img/ilugdlogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}

.logotype{
  font-size: 60px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.logotype:hover{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: #fff;
  filter: drop-shadow(5px 5px #000);
}

.intro{
  font-size: 25px;
  font-weight: 300;
}

.dropper{
  display: inline;
  padding-top: 5px;
}

.dropper:hover .drop-wrap{
  display: block;
}

.drop-wrap{
  display: none;
  position: absolute;
  padding-top: 10px;
}

.drop{
  background: #000;
  border-radius: 4px;
  padding: 5px;
}

.drop a{
  display: block;
  color: #FFD97D;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

.drop a:nth-child(1){
  margin-bottom: 5px;
}

.drop a:hover{
  color: #000;
  background: #FFD97D;
}

.social{
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
  margin-top: 50px;
}

.social a{
  color: inherit;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social a:hover{
  background: #e2bf6a;
}

.meetup{
  background: #EE6055;
  /*width: 50%;*/
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption{
  font-size: 40px;
}

.desc{
  font-size: 30px;
  color: #fff;
  margin: 10px 0;
}

.date{
  font-size: 25px;
  color: #FFD97D;
}

.button-primary{
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 35px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-primary:hover{
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}


@media only screen and (max-width: 320px){

  .wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .navbar{
    padding: 0 10px;
    background: #FFD97D;
    border-radius: 3px;
    font-size: 15px;
    box-sizing: border-box;
  }

  .social{
    margin: 0 auto;
  }

  .content{
    width: 95%;
    position: relative;
  }

  .logo{
    width: 50px;
    height: 75px;
  }

  .logotype{
    font-size: 50px;
  }

  .intro{
    font-size: 20px;
  }

  .caption{
    font-size: 25px;
  }

  .desc{
    font-size: 20px;
  }

  .date{
    font-size: 18px;
  }

  .button-primary{
    width: 75px;
    font-size: 15px;
    padding: 5px 10px;
  }
}
