
/* 
* Volunteers list related styles
*/

.volunteers-list-container, .volunteer .links {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}



.volunteers-list-container .volunteers-list-item {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.volunteer {
  margin: 0.5rem;
  width: 250px;
  height: 250px;
}

.volunteer img {
  border-radius: 50%;
  // border: #fcee97 2px solid;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.2);
}

.volunteer .links {
  list-style: none;
}

.volunteer .links li {
  margin: 0.1rem 0.5rem;
  width: 25px;
  height: 30px;
}

.volunteer .links li a {
  position: relative;
  font-size: 28px;
}

.volunteer .links li a i {
  position: absolute;
  transition: all 200ms ease-in;

}

.volunteer .links li a:hover i {
  transform: scale(1.3);
}

.volunteer p {
  font-size: 18px;
}


.fa-linkedin {
  color: #0077B5;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-youtube {
  color: #c4302b;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-instagram {
  color: #3f729b;
}
